[{s_test, [
    {port,      8484},
    {mysql_opt, [{username, "root"},
                 {password, "123456"},
                 {host,     "192.168.87.177"},
                 {port,     3306},
                 {database, "game"},
                 {encoding, utf8},
                 {pools,    [{pool, 10}] }
                ]}
          ]}].

